<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        This platform is for organisations across glasgow.gov.uk to share their data.
        <br><br>
Select a publisher you are interested in, or get in touch if you would like to publish data on behalf of your organisation or group.
      {% endtrans %}
    </p>
  </div>
</div>