


{% block header %}

  {% block header_account %}
    {#
      <header class="account-masthead">
        <div class="container">
       
       
          {% if c.userobj %}
            <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
              <ul class="unstyled">
                <li>
                     <a href="http://open.glasgow.gov.uk" title="Open Glasgow">
                      <img src="/images/icon-future.png">
                      <i class="icon-future"></i>
                    </a>
                </li>
                
                <li>
                    <a href="http://open.glasgow.gov.uk/howdowecollaborate?subject=Data%20Portal" title="Contact">
                      <i class="icon-envelope-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com/openglasgow" title="Contact" target="_blank">
                      <i class="icon-twitter"></i>
                    </a>
                </li>
                {% block header_account_logged %}
                {% if c.userobj.sysadmin %}
                  <li>
                    <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                      <i class="icon-legal"></i>
                    </a>
                  </li>
                {% endif %}
                <li>
                  <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                    {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                    <span class="username">{{ c.userobj.display_name }}</span>
                  </a>
                </li>
                  {% set new_activities = h.new_activities() %}
                  <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                    {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                    <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                      <i class="icon-dashboard"></i>
                      <span>{{ new_activities }}</span>
                    </a>
                  </li>
                  {% block header_account_settings_link %}
                    <li>
                      <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                        <i class="icon-cog"></i>
                      </a>
                    </li>
                  {% endblock %}
                  {% block header_account_log_out_link %}
                    <li>
                      <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                        <i class="icon-signout"></i>
                      </a>
                    </li>
                  {% endblock %}
                {% endblock %}
              </ul>
            </div>
          {% else %}
            <nav class="account not-authed">
              <ul class="unstyled">
                <li>
                 <a href="http://open.glasgow.gov.uk" title="Open Glasgow">
                      <img src="/images/icon-future.png">
                      <i class="icon-future"></i>
                    </a>
                    </a>
                </li>
          <li>
                    <a href="http://open.glasgow.gov.uk/howdowecollaborate?subject=Data%20Portal" title="Contact">
                      <i class="icon-envelope-alt"></i>
                    </a>
                </li>
          <li>
                    <a href="http://twitter.com/openglasgow" title="Contact" target="_blank">
                      <i class="icon-twitter"></i>
                    </a>
                </li>
                {% block header_account_notlogged %}
                <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
                <!--<li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>-->
                {% endblock %}
              </ul>
            </nav>
          {% endif %}


        

        </div>
      </header>

       #}
  {% endblock %}


<header class="masthead fixed ">

  {% block header_debug %}
    {% if g.debug and not g.debug_supress_header %}
      <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
    {% endif %}
  {% endblock %}
 
    {# The .header-image class hides the main text and uses image replacement for the title #}
    <div class="{{ g.header_class }}">

      {% block header_logo %}

          <h1 id='logo-header'>
            <a href="{{ h.url('home') }}">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 44.8 49" enable-background="new 0 0 44.8 49" xml:space="preserve" class="svg-logo">
                <g>
                  <path fill="#4E4E4E" d="M22.4,49c-1.5,0-3-0.4-4.1-1L4.1,39.8C1.8,38.5,0,35.3,0,32.7V16.3c0-2.7,1.8-5.8,4.2-7.2L18.3,1
                  c1.1-0.7,2.6-1,4.1-1c1.5,0,3,0.4,4.1,1l14.1,8.2c2.3,1.3,4.1,4.5,4.1,7.2v16.3c0,2.7-1.8,5.8-4.1,7.2L26.5,48
                  C25.4,48.6,24,49,22.4,49z M22.4,3.2c-1,0-1.9,0.2-2.5,0.6L5.8,12c-1.3,0.8-2.5,2.8-2.5,4.4v16.3c0,1.5,1.2,3.6,2.5,4.4l14.1,8.2
                  c0.6,0.4,1.6,0.6,2.5,0.6c1,0,1.9-0.2,2.5-0.6L39.1,37c1.3-0.8,2.5-2.8,2.5-4.4V16.3c0-1.5-1.2-3.6-2.5-4.4L24.9,3.8
                  C24.3,3.4,23.4,3.2,22.4,3.2z"/>
                </g>
              </svg>  
            </a>
          </h1>

      {% endblock %}

    </div>

   

      {% block header_site_navigation %}

        <nav class="section navigation">
          <ul class="nav posion">
            {% block header_site_navigation_tabs %}
            
              {% if h.check_access('approvals_list') %}
              
              {{ h.build_nav_main(
                ('search', _('Datasets')),
                ('organizations_index', _('Organizations')),
                ('about', _('About')),
                ('approvals_list', _('Pending Approvals')),
              ) }}

              {% else %}

              {{ h.build_nav_main(
                ('search', _('Datasets')),
                ('organizations_index', _('Organizations')),
                ('about', _('About')),
              ) }}
              {% endif %}

           {% endblock %}

           

          </ul>
        </nav>
        {% endblock %}

        <nav class="section actions">
          <ul>
            <li> 
              <a href="">Search</a>
               
      {% block header_site_search %}
        <form class="site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
          <div class="field">
            <label for="field-sitewide-search">{{ _('Search Datasets') }}</label>
            <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('Search datasets...') }}" />
            <button class="btn-search" type="submit"><i class="icon-search"></i></button>
          </div>
        </form>
      {% endblock %}

            </li>
            <li>
              <a href="/dataset/new"> + Upload Data</a>

          </ul>
        </nav>

      


   
  
</header>
{% endblock %}
