
{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}

<li class="resource-item" data-id="{{ res.id }}">
  <div class="resource-item-description">
    {% block resource_item_title %}
    <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
      {{ h.resource_display_name(res) | truncate(100) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}</span>
      {{ h.popular('views', res.tracking_summary.total, min=10) }}
    </a>
    {% endblock %}


    <p class="description">
      {% if res.description %}
        {{ h.markdown_extract(res.description, extract_length=80) }}
      {% endif %}
    </p>
  </div>
  
  <div class="resource-item-actions">
    {% block resource_item_explore %}
    {% if not url_is_edit %}
      {# Main explore dropdown #}
        {% block resource_item_explore_links %}
        {# link to url #}
            <a href="{{url}}" class="resource-url-analytics" target="_blank">
              {% if res.can_be_previewed %}
                <img src = "/images/dataset_preview.png">
              {% else %}
                <img src = "/images/dataset_info.png">
              {% endif %}
            </a>
            
            <a href="{{res.url}}" class="resource-url-analytics" target="_blank">
              {% if res.can_be_previewed %}
                <img src = "/images/dataset_download.png">
              {% else %}
                {# Go to resource #}
              {% endif %}
            </a>
            
            {# <a href="{{res.url}}" class="resource-url-analytics" target="_blank"> #}
            {#   {% if res.can_be_previewed %} #}
            {#     <img src = "/images/dataset_certificate.png"> #}
            {#   {% else %} #}
            {#     
            {#   {% endif %} #}
            {# </a> #}
            
            {# <a href="{{res.url}}" class="resource-url-analytics" target="_blank"> #}
            {#   {% if res.can_be_previewed %} #}
            {#     <img src = "/images/dataset_dictionary.png"> #}
            {#   {% else %} #}
            {#
            {#   {% endif %} #}
            {# </a> #}
            
        {% if can_edit %}
          <a href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">
            <img src = "/images/dataset_edit.png">
          </a> 
        {% endif %}
        {% endblock %}

    {% endif %}
    {% endblock %}
  </div>
</li>
