{#
Embeds a group within the sidebar of a page.

group    - The group dict.
truncate - A max length for the group description. If not provided the description
           will be full length.

Example:

    {% snippet 'snippets/group, group=c.group_dict %}

#}
{% if pkg.groups %}
  <div class="module module-narrow">
    <h2 class="module-heading"><i class="icon-folder-open"></i> {{ _('Groups') }}</h2>
    <ul class="nav nav-simple">
      {% for group in pkg.groups %}
        <li class="nav-item">
          <a href="{{ h.url_for(controller='group', action='read', id=group.name) }}">
            {{ group.title or group.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
