{% set projects = {"news1":{"img": "CustomerContact.jpg", "title":"Customer Contacts"}, 
               "news2":{"img": "LiveTrafficData.jpg", "title":"Live Traffic Data"}, 
               "news3":{"img": "Focus.png", "title":"FOCUS"},
               "news4":{"img": "iglootile.png", "title":"Information IGLOO"},
               "news5":{"img": "image23.png", "title":"3d Laser Scanning"},
               "news6":{"img": "image2.png", "title":"Building Information Modelling (BIM)"}}%}
{% for story, data in projects.items() %}
  <div class='project'>
    <div class="image">
      <img src="images/{{data['img']}}"/>
    </div>
    <div class="title">
      {{data['title']}}
    </div>
  </div>
{%endfor %}