{% set projects = {"news1":{"img": "CustomerContact.jpg", "title":"Customer Contacts", "link":"customer-contacts"}, 
               "news2":{"img": "LiveTrafficData.jpg", "title":"Live Traffic Data", "link":"live-traffic-data"}, 
               "news5":{"img": "image23.png", "title":"3d Laser Scanning", "link":"3d-laser-scanning"},
               "news6":{"img": "image2.png", "title":"Building Information Modelling (BIM)", "link":"building-information-modelling-bim"}}%}
{% for story, data in projects.items() %}
  <div class='project'>
    <a href="/pages/{{data['link']}}">
      <div class="image">
        <img src="images/{{data['img']}}"/>
      </div>
      <div class="title">
        {{data['title']}}
      </div>
    </a>
  </div>
{%endfor %}