<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">
      <div class="span4 footer-smart">
        <img src="/images/SmartCitiesLogo.png"/>
      </div>
      <div class="span4  footer-erdf">
        <img src="/images/erdf.png"/>
      </div>
      <div class="span4">
        <div class="pull-right footer-gcc">
          <img src="/images/ggclogomono.png"/>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>