.footer-smart{
  height:100%;
  display:block;
  img {
    height:100px;
  }
}

.footer-erdf{
  height:100%;
  display:block;
  text-align:center;
  img {
    height:100px;
  }
}

.footer-gcc{
  height:100%;
  display:block;
  img {
    height:100px;
  }
}


.site-footer{
  background-color: @glasgow-green;
  background-image: none;
}