
.hero{
	background-image: url("/images/hero_cloisters.jpg");
	display: flex;
	justify-content: center;
  	align-items: center; 
  	min-height:400px;
}

#hero-search{
	margin-top: 120px;
}

.alert{
	margin: 6px;
}


.search-form{
	border-bottom: none;
	margin: 0;
	padding: 0;
}

.search-form .search-input .search{
	border-radius: 30px;
	border-width: 3px;
	border-color: @glasgow-yellow;
}

.search-form .search-input.search-giant button{
	margin-top: -15px;

}

.search-form .search-input.search-giant button i{
	color: @glasgow-green;

}

#home-themes{
	text-align:center;
}

.theme-container{
	background-color: #fff;
	padding: 20px;
	
	.theme-box{
		display: inline-block;
		margin: 0 10px;
	}

	.theme-image{
		overflow: hidden;	
		position:relative;
		display: inline-block;
		width:120px;
		height:75px;
		img{
			object-fit:cover;
			border-radius: 50%;
			height: 75px;
			width: 75px;
		}
	}
	.theme-title{

		text-align:center;
		color: @glasgow-green;
		font-size: 1.1em;
		font-weight: 900;
	}
}


.site-footer{
	background-color: @glasgow-green;
	background-image: none;
}