.account-masthead{
	background-color: @glasgow-green
}


.masthead{
	background-color: #fff;
	padding: 10px;
}

#header-title{
	font-size:3em;
	font-weight:900;
	display:inline-block;
	color: @glasgow-green;
	vertical-align:bottom;
	margin-bottom:8px;
}

.nav-main ul {
	margin: 0;
	padding: 15px;
	font-weight: 700;
	font-size: 1.5em;
	background-color: @glasgow-green;
}

.nav-main a{
	color: #fff;
}

.nav-pills > a,
.nav-pills > a:hover,
.nav-pills > a:focus {
  color: #000;

}

.nav-pills > li > a {
  &:hover{
  	background-color: @glasgow-yellow;
  }
}

// .nav-pills > .active > a {
// 	background-color: @glasgow-yellow;
//   &:hover{
//   	background-color: @glasgow-yellow;
//   }
// }