.container{
	width:98%;
	margin:0 auto;
}


.wrapper {
  *zoom: 1;
  position: relative;
  margin-bottom: 20px;
  	&:before,
	&:after {
  		display: table;
  		content: "";
  		line-height: 0;
	}

	&:after {
	  clear: both;
	}
	&.no-nav {
	  background-image: none;
	}
}





.row, .row-fluid {
  margin-left: -20px;
  *zoom: 1;

	&:before,
	&:after {
	  display: table;
	  content: "";
	  line-height: 0;
	}
	&:after {
	  clear: both;
	}

	[class*="span"] {
	  display: block;
	  width: 100%;
	  min-height: 30px;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  float: left;
	  padding-left: 10px;
	  padding-right: 10px
	}
}



.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container,
.row-fluid {
  width: 100%;  
  max-width:@grid-max-width;  
   *zoom: 1;
}


.generate-columns(12);

.generate-columns(@n, @i: 1) when (@i =< @n) {
  .span@{i} {
    width: (@i * 100% / @n);
  }
  .generate-columns(@n, (@i + 1));
}


[role=main],
.main {
  position: relative;
  border-bottom:none;
}

[role=main] {
  min-height: 350px;

  	.primary {
  		width: 75%;
  		float: right;
	}

	.secondary {
	  margin-left: 20px;
	  width: 25%;
	  margin-left: 0;
	  float: left;
	}

}


/*
.primary > :last-child,
.secondary > :last-child {
  margin-bottom: 0;
}
.primary .primary {
  float: left;
  width: 479px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.primary .primary h1:first-child,
.primary .primary h2:first-child,
.primary .primary h3:first-child,
.primary .primary h4:first-child {
  margin-top: 0;
}
.primary .tertiary {
	
  float: left;
  width: 180px;
  margin-left: 20px;
  margin-bottom: 20px;

}


*/



 