<div class="hero">
  <div class="container" >
	<div id="hero-search">    
	    {% block search %}
	      {% snippet 'home/snippets/search.html' %}
	    {% endblock %}
	</div>
  </div>
</div>

<div class="container-fluid stories">
	<div class='container'>
			<div class="row row2">
		{% block stories %}
			<h2>&nbsp;&nbsp;Stories</h2>
			{% snippet 'home/snippets/stories.html' %}
		{% endblock %}
		{% block projects %}
			<h2>&nbsp;&nbsp;Projects</h2>
			{% snippet 'home/snippets/projects.html' %}
		{% endblock %}

		{% block news %}
			{# {% snippet 'home/snippets/news.html' %} #}
		{% endblock %}
	</div>
	</div>
</div>