{% ckan_extends %}

  {% block resource_actions_inner %}
    <li>
      <a class="btn" href="{% url_for controller='ckanext.glasgow.controllers.dataset:DatasetController', action='resource_versions', dataset=pkg.id, resource=res.id, version=None %}">
        <i class="icon-file"></i>
        {{ _('Versions') }}
      </a>
  </li>

  {{ super() }}
{% endblock %}

  {% block resource_additional_information %}
    {% if res %}
      <section class="module">
        <div class="module-content">
          <h2>{{ _('Metadata') }}</h2>
          <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
            <thead>
              <tr>
                <th scope="col">{{ _('Field') }}</th>
                <th scope="col">{{ _('Value') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ _('Last updated') }}</th>
                <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or '-' }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Created') }}</th>
                <td>{{ h.render_datetime(res.created) or '-' }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Format') }}</th>
                <td>{{ res.get('format', '-') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('License') }}</th>
                <td>{{ res.get('license_id', '-') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Openness Rating') }}</th>
                <td>{{ res.get('openness_rating', '-') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Quality') }}</th>
                <td>{{ res.get('quality', '-') }}</td>
             </tr>
             <tr>
                <th scope="row">{{ _('Standard Rating') }}</th>
                <td>{{ res.get('standard_rating', '-') }}</td>
             </tr>
             <tr>
                <th scope="row">{{ _('Standard Version') }}</th>
                <td>{{ res.get('standard_version', '-') }}</td>
             </tr>
             <tr>
                <th scope="row">{{ _('Standard Name') }}</th>
                <td>{{ res.get('standard_name', '-') }}</td>
             </tr>
             <tr>
                <th scope="row">{{ _('Creation Date') }}</th>
                <td>{{ res.get('creation_date', '-') }}</td>
             </tr>
            </tbody>
          </table>

          <h3>{{ _('Custom Metadata') }}</h3>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th scope="col">{{ _('Field') }}</th>
                <th scope="col">{{ _('Value') }}</th>
              </tr>
            </thead>
            <tbody>
              {% for extra in h.get_resource_ec_extra_fields(res) %}
                  <tr>
                    <th scope="row" class="dataset-label">{{ extra['key'] }}</th>
                    <td class="dataset-details">{{ extra['value'] }}</td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </section>
    {% endif %}
  {% endblock %}
