{% extends "package/read_base.html" %}

{% set pkg = c.pkg_dict %}

{% block pre_primary %}
  <div id="chart-container">
    
    <canvas id="myChart" min-height="600px" max-height="1000px" ></canvas>
    
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% endblock %}

{% block primary_content_inner %}
  
  
  {{ super() }}
  {% block package_description %}
    
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="icon-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    
    {% snippet "snippets/package_item_ds_page.html", package=pkg, resources=pkg.resources %}

  {% endblock %}

  {% block package_resources %}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% endblock %}
  
  <h4 class="section-heading-light">Approvals</h4>

   {% block versions %}
     {# {{ }} #}
   {% endblock %}

   <h4 class="section-heading-light">Activity</h4>

    {% block activity_stream %}
      {{ h.package_activity_stream(pkg.id) }}
    {% endblock %}


 <h4 class="section-heading-light">Tags</h4>
  {% block package_tags %}

    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}

  {% block package_additional_info %}
    <section class="additional-info">
  <h4 class="section-heading-light">{{ _('Metadata') }}</h4>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>

     <tr>
        <th scope="row" class="dataset-label">{{ _('Category') }}</th>
        <td class="dataset-details">{{ pkg.category or '-' }}</td>
     </tr>
     <tr>
        <th scope="row" class="dataset-label">{{ _('Theme') }}</th>
        <td class="dataset-details">{{ pkg.theme or '-' }}</td>
     </tr>
     <tr>
        <th scope="row" class="dataset-label">{{ _('Standard Rating') }}</th>
        <td class="dataset-details">{{ h.show_int_value(pkg.standard_rating) }}</td>
     </tr>
     <tr>
        <th scope="row" class="dataset-label">{{ _('Standard Name') }}</th>
        <td class="dataset-details">{{ pkg.standard_name or '-' }}</td>
     </tr>
     <tr>
        <th scope="row" class="dataset-label">{{ _('Standard Version') }}</th>
        <td class="dataset-details">{{ pkg.standard_version or '-' }}</td>
     </tr>

      
    </tbody>
  </table>
  <h4 class="section-heading-light">{{ _('Custom Metadata') }}</h4>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for extra in pkg.get('extras', []) %}
        {% if not extra['key'].startswith('harvest_') %}
          <tr>
            <th scope="row" class="dataset-label">{{ extra['key'] }}</th>
            <td class="dataset-details">{{ extra['value'] }}</td>
          </tr>

        {% endif %}
      {% endfor %}
    </tbody>
  </table>


</section>
  {% endblock %}


  <script src="https://cdn.rawgit.com/nnnick/Chart.js/master/Chart.min.js"></script>


  
  
  <script>
  
  var options = {}
  
  function load_script(src_url) {
   s = document.createElement("script");
   s.src = src_url;
   document.getElementsByTagName("head")[0].appendChild(s);
  }
  
  var column_x = "Ward Name";
  var column_y = "Born outside the UK: Total";

  function get_data(file_url) {
    console.log(file_url)
    var api_url = "http://jsonpdataproxy.appspot.com/?callback=build_graph&max-results=100&type=csv";
    api_url += "&url=" + encodeURIComponent(file_url);
    
    console.log(api_url)

    load_script(api_url);
  }

  function find_column(fields, name) {
    console.log(fields)
    var column_index = NaN;
    jQuery(fields).each(function(i, v) {
      if(v == name) {
        columm_index = i;
      }
    })

    return columm_index;
  }

  function load_graph() {
    if(column_x != "" && column_y != "") {
      get_data("http://data.glasgow.gov.uk/storage/f/2014-11-04T11%3A23%3A47.294Z/cob-by-age-of-arrival-uk.csv");
    }
  }
  
  var chart_data = {}

  function build_graph(data) {
    
    console.log(data)

    var x = find_column(data['fields'], column_x);
    var y = find_column(data['fields'], column_y);

    data_x = [];
    data_y = [];

    jQuery(data["data"]).each(function(index, row) {
      if(jQuery.inArray(row[x], data_x) != -1) {
        new_val = parseInt(data_y[jQuery.inArray(row[x], data_x)]) + parseInt(row[y]);
        data_y[jQuery.inArray(row[x], data_x)] = new_val;
      } else {
        data_x.push(row[x]);
        data_y.push(row[y]);
      }
    });

    chart_data = {
      labels: data_x,
      datasets: [
          {
              label: "My First dataset",
              fillColor: "rgba(220,220,220,0.2)",
              strokeColor: "#e9004b",
              pointColor: "#00c4b3",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(220,220,220,1)",
              data: data_y
          }
      ]
    };
    chartsize()
  }
  
  load_graph()
  
  function chartsize (){
    chart = jQuery("#myChart");
    container = jQuery("#chart-container");
  
    chart.attr('width', container.width());
    chart.attr('height', container.height());
    
    var ctx = document.getElementById("myChart").getContext("2d");
    var myLineChart = new Chart(ctx).Line(chart_data, options);
  };
  

  jQuery(window).resize(chartsize)
  

  
  </script>

{% endblock %}

