{% ckan_extends %}


{% resource 'glasgow/js/vendor/jquery.royalslider.min/index.js' %}


{# {% extends "page.html" %} #}






{% block content %}
  


<section class="hp-hero topbar-push">
  <h1>Bold data benefit statement tied to 6 user groups. Change on load.</h1>
  <a href="" class="btn">See the data</a>
</section>

<section class="hp-primary welcome">
  <div class="hp-primary-content">
    <h2>Welcome to Data Launchpad.</h2>
    <img src="/images/rocket.png" alt="welcome to data launchpad">
    <p>
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.
    </p>
    <a href="" class="btn">Learn More</a>
    <dl class=" ">
      <dt>Data Sets Total</dt>
      <dd>1120</dd>

      <dt>Organisations</dt>
      <dd>1120</dd>

      <dt>This Month</dt>
      <dd>1120</dd>
    </dl>
</section>


<section class="hp-secondary discover">
  <h2>
    Discover Data, Rediscover Glasgow.
  </h2>
  <p>
    Vestibulum id ligula porta felis euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
  </p>
</section>



<section class="hp-linkout datastories">
  <ul class="block-grid-3">
    <li class="story-linkout story-yellow">
        <img src="images/icon.png" alt="story 1 icon" />
        <h3>Story 1 name</h3>
        <p>
          Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.
        </p>
        <a href="#" class="btn">Read the story</a>
    </li>

    <li class="story-linkout story-orange">
        <img src="images/icon.png" alt="story 1 icon" />
        <h3>Story 1 name</h3>
        <p>
          Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.
        </p>
        <a href="#" class="btn">Read the story</a>
    </li>

    <li class="story-linkout story-pink">
        <img src="images/icon.png" alt="story 1 icon" />
        <h3>Story 1 name</h3>
        <p>
          Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.
        </p>
        <a href="#" class="btn">Read the story</a>
    </li>

    <li class="story-linkout story-blue">
        <img src="images/icon.png" alt="story 1 icon" />
        <h3>Story 1 name</h3>
        <p>
          Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.
        </p>
        <a href="#" class="btn">Read the story</a>
    </li>

    <li class="story-linkout story-red">
        <img src="images/icon.png" alt="story 1 icon" />
        <h3>Story 1 name</h3>
        <p>
          Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.
        </p>
        <a href="#" class="btn">Read the story</a>
    </li>


    <li class="story-linkout story-green">
        <img src="images/icon.png" alt="story 1 icon" />
        <h3>Story 1 name</h3>
        <p>
          Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.
        </p>
        <a href="#" class="btn">Read the story</a>
    </li>
  </ul>
</section>


<section class="hp-secondary journey">
  <h2>
    Start your data journey
  </h2>
  <p>
    Vestibulum id ligula porta felis euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
  </p>
</section>

<section class="hp-linkout datastories">
  <ul class="block-grid-3">
    <li class="story-linkout story-blue">
        <img src="images/icon.png" alt="story 1 icon" />
        <h3>Story 1 name</h3>
        <p>
          Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.
        </p>
        <a href="#" class="btn btw-white">Start</a>
    </li>

    <li class="story-linkout story-green">
        <img src="images/icon.png" alt="story 1 icon" />
        <h3>Story 1 name</h3>
        <p>
          Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.
        </p>
        <a href="#" class="btn btw-white">Start</a>
    </li>


    <li class="story-linkout story-pink">
        <img src="images/icon.png" alt="story 1 icon" />
        <h3>Story 1 name</h3>
        <p>
          Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.
        </p>
        <a href="#" class="btn btw-white">Start</a>
    </li>
  </ul>
</section>

<section class="hp-primary revolution">
  <div class="hp-primary-content">
    <h2>Be part of the data revolution.</h2>
    <img src="/images/plus.png" alt="data revolution">
    <p>
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.
    </p>
    <a href="" class="btn">Learn about contributing data</a>
    <a href="" class="btn">Add Your Data</a>
    
</section>



<section class="hp-primary safety">
  <div class="hp-primary-content">
    <h2>Keeping you and your data safe.</h2>
    <img src="/images/compass.png" alt="data safety ">
    <p>
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.
    </p>
    <a href="" class="btn">Learn more</a>
    <a href="" class="btn">try it now</a>
    
</section>




{% endblock %}



{# Remove the toolbar. #}
{% block toolbar %}{% endblock %}
