{% ckan_extends %}


{% resource 'glasgow/js/vendor/jquery.royalslider.min/index.js' %}


{% block content %}
  

  <div>
    

      <section class="hp-primary welcome topbar-push">
        <div class="hp-primary-content">
          <h2>Welcome to the Data Launchpad.</h2>
          <img src="/images/rocket.png" alt="welcome to data launchpad">
          <p>
            Whether you are a business owner looking to better understand footfall in the city or an app developer looking for the raw materials to build something incredible - the Data Launchpad can help. Get a new understanding of how your city works as we add more datasets on a huge variety of subjects.
          </p>
          <a href="" class="btn">Learn More</a>
          
      </section>
    
      <section class="hp-hero topbar-push">
        <h1>OPEN Data. The gateway to exploring our city, helping you to understand and shape Glasgow in new and surprising ways.</h1>
        <a href="/dataset" class="btn">See the data</a>
      </section>

      <section class="hp-secondary discover">
        <h2>
          Discover Data, Rediscover Glasgow.
        </h2>
        <p>
          
          These six stories show how new insights can be mined from our datasets. In a fast-moving, globalised world, these insights are a powerful advantage for the citizens of Glasgow. Start learning how you can be part of the new data era.
          
        </p>
        <img src = "/images/FC_DataPortal_ArrowElement-01.png">
        
      </section>



      <section class="hp-linkout datastories">
        <ul class="block-grid-3">

  <li class="story-linkout story-yellow">
            <img src="images/FC_DataPortal_StoryIconElements_ExploreGlasgow.png" alt="story 1 icon" />
              <h3>Explore Glasgow with Open Data </h3>
              <p>
                Learn about how Future Maps could show you a new side to Glasgow
            
              </p>
              <a href="http://open.glasgow.gov.uk/datastories/explore-glasgow-with-open-data/" class="btn">Read the story</a>
          </li>



          <li class="story-linkout story-orange">
             <img src="images/FC_DataPortal_StoryIconElements_Commonwealth.png" alt="story 1 icon" />
              <h3>Commonwealth Legacy Carries On</h3>
              <p>
                See all the data from the Commonwealth games. 

              </p>
              <a href="http://open.glasgow.gov.uk/datastories/commonwealth-legacy-carries-on/" class="btn">Read the story</a>
          </li>

          <li class="story-linkout story-pink">
             <img src="images/FC_DataPortal_StoryIconElements_Sustainability.png" alt="story 1 icon" />
              <h3>Open data fuelling sustainability</h3>
              <p>
                Learn how open data can make you more green

              </p>
              <a href="http://open.glasgow.gov.uk/datastories/opendatafuellingsustainability/" class="btn">Read the story</a>
          </li>

          <li class="story-linkout story-blue">
             <img src="images/FC_DataPortal_StoryIconElements_HomeSweetHome.png" alt="story 1 icon" />
              <h3>Home Sweet Home</h3>
              <p>
                Open data can give you impartial advice on moving to a new area
                 
              </p>
              <a href="http://open.glasgow.gov.uk/datastories/home-sweet-home/" class="btn">Read the story</a>
          </li>

        
          <li class="story-linkout story-red">
            <img src="images/FC_DataPortal_StoryIconElements_GlasgowCycling.png" alt="story 1 icon" />
              <h3>Glasgow Cycling</h3>
              <p>
                How we use data to improve cycling in Glasgow for everyone
              </p>
              <a href="http://open.glasgow.gov.uk/datastories/glasgow-cycling/" class="btn">Read the story</a>
          </li>


          <li class="story-linkout story-green">
           <img src="images/FC_DataPortal_StoryIconElements_DailyCommute.png" alt="story 1 icon" />
              <h3>The Daily commute</h3>
              <p>
                See the whole picture of how people move through the city
               

              </p>
              <a href="http://open.glasgow.gov.uk/datastories/thedailycommute/" class="btn">Read the story</a>
          </li>
        </ul>
      </section>


      <section class="hp-secondary journey">
        <h2>
          Start your data journey
        </h2>
        <p>
         Start using our datasets. You can view by subject group, organisations or see data sets based on date and location.
        </p>
         {# <img src = "/images/FC_DataPortal_ArrowElement-01.png"> #}
      </section>

   <!--   <section class="hp-linkout datastories">
        <ul class="block-grid-3">
          <li class="story-linkout story-blue">
              <img src="images/icon.png" alt="story 1 icon" />
              <h3>Story 1 name</h3>
              <p>
                Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.
              </p>
              <a href="#" class="btn btw-white">Start</a>
          </li>

          <li class="story-linkout story-green">
              <img src="images/icon.png" alt="story 1 icon" />
              <h3>Story 1 name</h3>
              <p>
                Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.
              </p>
              <a href="#" class="btn btw-white">Start</a>
          </li>


          <li class="story-linkout story-pink">
              <img src="images/icon.png" alt="story 1 icon" />
              <h3>Story 1 name</h3>
              <p>
                Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.
              </p>
              <a href="#" class="btn btw-white">Start</a>
          </li>
        </ul>
      </section> -->

      <section class="hp-primary revolution">
        <div class="hp-primary-content">
          <h2>Be part of the data revolution.</h2>
          <img src="/images/plus.png" alt="data revolution">
          <p>
          Data is all around us and is continuously generated as we interact with the city. It powers our apps and decisions. Glasgow has joined the journey in making this public good available for everyone to use and benefit from.
          </p>
          <a href="" class="btn">Learn about contributing data</a>
          <a href="/dataset/new" class="btn">Add Your Data</a>
    
      </section>


      <section class="hp-primary safety">
        <div class="hp-primary-content">
          <h2>Keeping you and your data safe.</h2>
          <img src="/images/compass.png" alt="data safety ">
          <p>
            We’re open by default, freely and easily accessible to all. OPEN Data covers general, not personal information. No individuals can be identified from our datasets and the portal is secure for everyone to use and benefit from. Public, private, academic and voluntary organisations are invited to open their data and use this platform to share it.
 

          </p>
          <a href="" class="btn">Learn more</a>
          <a href="/dataset" class="btn">try it now</a>
    
      </section>

  </div>


{% endblock %}



{# Remove the toolbar. #}
{% block toolbar %}{% endblock %}

