{% ckan_extends %}


{% resource 'glasgow/js/vendor/jquery.royalslider.min/index.js' %}


{# {% extends "page.html" %} #}






{% block content %}
  

  <div>
      <section class="hp-hero topbar-push">
        <h1>OPEN Data. The gateway to exploring our city, helping you to understand and shape Glasgow in new and surprising ways.</h1>
        <a href="/dataset" class="btn">See the data</a>
      </section>

      <section class="hp-primary welcome">
        <div class="hp-primary-content">
          <h2>Welcome to the Data Launchpad.</h2>
          <img src="/images/rocket.png" alt="welcome to data launchpad">
          <p>
            Whether you are a business owner looking to better understand footfall in the city or an app developer looking for the raw materials to build something incredible - the Data Launchpad can help. Get a new understanding of how your city works as we add more datasets on a huge variety of subjects.
          </p>
          <a href="" class="btn">Learn More</a>
          
          <div class="fp-stats">
            <h1>A view inside:</h1>
            <dl>
              <dt>Data Sets</dt>
              <dd>{{  h.homepage_items.package_count() }}</dd>

              <dt>Organisations</dt>
              <dd>{{  h.homepage_items.organization_count() }}</dd>

              <dt>Edited this Month</dt>
              <dd>{{  h.homepage_items.this_month() }}</dd>
            </dl>
          </div>
      </section>


      <section class="hp-secondary discover">
        <h2>
          Discover Data, Rediscover Glasgow.
        </h2>
        <p>
          
          These six stories show how new insights can be mined from our datasets. In a fast-moving, globalised world, these insights are a powerful advantage for the citizens of Glasgow. Start learning how you can be part of the new data era.
          
          
        </p>
      </section>



      <section class="hp-linkout datastories">
        <ul class="block-grid-3">

  <li class="story-linkout story-blue">
            <!--  <img src="images/icon.png" alt="story 1 icon" /> -->
              <h3>Explore Glasgow with Open Data </h3>
              <p>
                Never before has this much data about Glasgow been available!
                With 400 datasets and 2,500+ resources on the Glasgow Open Data Portal,
                 the opportunities are huge.
            
              </p>
              <a href="http://pbc.io/futurecities/datastories/explore-glasgow-with-open-data/" class="btn">Read the story</a>
          </li>



          <li class="story-linkout story-yellow">
             <!-- <img src="images/icon.png" alt="story 1 icon" /> -->
              <h3>Commonwealth Legacy Carries On</h3>
              <p>
                Whether you’ve won a Games-related contract, benefitted from the Commonwealth Apprenticeship Initiative,
                or your school has been involved in Games-related projects,
                this data can now be found on the Future Cities Open Data Portal.

              </p>
              <a href="http://pbc.io/futurecities/datastories/commonwealth-legacy-carries-on/" class="btn">Read the story</a>
          </li>

          <li class="story-linkout story-orange">
             <!-- <img src="images/icon.png" alt="story 1 icon" /> -->
              <h3>Open data fuelling sustainability</h3>
              <p>
                Are you wondering where the nearest recycling site is to your home?
                Are you looking to develop solar photovoltaic panels in your community but do not know where?
                Open data can now help citizens of Glasgow figure all this out!

       ons.

              </p>
              <a href="http://pbc.io/futurecities/datastories/opendatafuellingsustainability/" class="btn">Read the story</a>
          </li>

          <li class="story-linkout story-pink">
             <!-- <img src="images/icon.png" alt="story 1 icon" /> -->
              <h3>Home Sweet Home</h3>
              <p>
                There are many things to think of when moving home and into a new area,
                especially if that person is completely unfamiliar with the area.
                
                Using data available on the Open Glasgow,
                 the people of Glasgow can make informed decisions based on actual evidence.
                 
              </p>
              <a href="http://pbc.io/futurecities/datastories/home-sweet-home/" class="btn">Read the story</a>
          </li>

        
          <li class="story-linkout story-red">
            <!--  <img src="images/icon.png" alt="story 1 icon" /> -->
              <h3>Glasgow Cycling</h3>
              <p>
               Are you a Glasgow cyclist?
               Or would you like to get out on your bike more?
               Open Data is helping to empower the cycling population of Glasgow.
              </p>
              <a href="http://pbc.io/futurecities/datastories/glasgow-cycling/" class="btn">Read the story</a>
          </li>


          <li class="story-linkout story-green">
           <!--   <img src="images/icon.png" alt="story 1 icon" /> -->
              <h3>The Daily commute</h3>
              <p>
                Glasgow is an active and dynamic city.People travelling to their place of work or study mean that certain areas of the city are going to be busier than others at specific times of day.

                Using Open Data it is possible to paint a picture to allow citizens to see how people are moving about the city at different times.
               

              </p>
              <a href="http://pbc.io/futurecities/datastories/thedailycommute/" class="btn">Read the story</a>
          </li>
        </ul>
      </section>


      <section class="hp-secondary journey">
        <h2>
          Start your data journey
        </h2>
        <p>
         Start using our datasets. You can view by subject group, organisations or see data sets based on date and location.
        </p>
      </section>

   <!--   <section class="hp-linkout datastories">
        <ul class="block-grid-3">
          <li class="story-linkout story-blue">
              <img src="images/icon.png" alt="story 1 icon" />
              <h3>Story 1 name</h3>
              <p>
                Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.
              </p>
              <a href="#" class="btn btw-white">Start</a>
          </li>

          <li class="story-linkout story-green">
              <img src="images/icon.png" alt="story 1 icon" />
              <h3>Story 1 name</h3>
              <p>
                Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.
              </p>
              <a href="#" class="btn btw-white">Start</a>
          </li>


          <li class="story-linkout story-pink">
              <img src="images/icon.png" alt="story 1 icon" />
              <h3>Story 1 name</h3>
              <p>
                Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.
              </p>
              <a href="#" class="btn btw-white">Start</a>
          </li>
        </ul>
      </section> -->

      <section class="hp-primary revolution">
        <div class="hp-primary-content">
          <h2>Be part of the data revolution.</h2>
          <img src="/images/plus.png" alt="data revolution">
          <p>
          Data is all around us and is continuously generated as we interact with the city. It powers our apps and decisions. Glasgow has joined the journey in making this public good available for everyone to use and benefit from.
          </p>
          <a href="" class="btn">Learn about contributing data</a>
          <a href="/dataset" class="btn">Add Your Data</a>
    
      </section>



      <section class="hp-primary safety">
        <div class="hp-primary-content">
          <h2>Keeping you and your data safe.</h2>
          <img src="/images/compass.png" alt="data safety ">
          <p>
            We’re open by default, freely and easily accessible to all. OPEN Data covers general, not personal information. No individuals can be identified from our datasets and the portal is secure for everyone to use and benefit from. Public, private, academic and voluntary organisations are invited to open their data and use this platform to share it.
 

          </p>
          <a href="" class="btn">Learn more</a>
          <a href="/dataset" class="btn">try it now</a>
    
      </section>

  </div>


{% endblock %}



{# Remove the toolbar. #}
{% block toolbar %}{% endblock %}
